* {
    box-sizing: border-box;
}

.mdl-layout__header-row {
    padding: 0 10px;
}

.mdl-layout__header-row > * {
    margin-left: 4px;
    margin-right: 4px;
}

.mdl-layout__header-row > *:first-child {
    margin-left: 0;
}

.mdl-layout__header-row > *:last-child {
    margin-right: 0;
}

.tab-content {
    padding: 10px;
}

.hidden {
    display: none;
}

#mocha {
    margin: 0;
    padding: 0;
}

#mocha h2 {
    line-height: inherit;
}

#mocha-stats {
    position: relative;
    float: right;
    right: 0;
    top: 0;
}

/* hide progress for now */
#mocha-stats .progress {
    display: none;
}

/* hide separate test run links for now */
#mocha .test a.replay {
    display: none;
}

ul#mocha-stats {
    border: solid 1px rgba(0,0,0,.54);
    border-radius: 4px;
    margin-right: 10px;
    padding: 4px 8px;
}

ul#mocha-stats li {
    display: block;
    padding-top: 0;
}

#tests {
    min-width: 150px;
    width: 35%;
}

#targets {
    min-width: 150px;
    width: 25%;
}

.CodeMirror {
    border: 1px solid #e0e0e0;
    flex: 1;
}

header .dropdown__field {
    font-size: 16px;
    height: 36px;
}

.flex-container {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.button-text {
    vertical-align: middle;
    margin-left: 2px;
}

.snippet-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 1.2em;
    text-align: center;
}
