
.mdl-layout__header-row {
    padding: 0 10px;
}

.mdl-layout__header-row > * {
    margin-left: 4px;
    margin-right: 4px;
}

.getmdl-select {
    width: auto;
}

.getmdl-select ul li {
    height: auto;
    line-height: inherit;
}

.getmdl-select.is-focused .mdl-icon-toggle__label {
    color: rgb(255,82,82);
}

.mdl-textfield__input {
    cursor: pointer;
    background-color: white;
    color: rgba(0,0,0,.87);
    padding: 4px 6px;
    border-radius: 4px;
}

.mdl-layout__content {
    padding: 10px;
}


.hidden {
    display: none;
}

#mocha-stats {
    top: 55px;
}

#mocha {
    margin: 0;
    padding-top: 5px;
}
