{
  "env": {
    "browser": true,
    "webextensions": true,
    "mocha": true
  },
  "globals": {
    "Driver": false,
    "until": false,
    "By": false,
    "Key": false,
    "assert": false,
    "runContext": false
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "no-empty": 0,
    "no-console": 0,
    "mocha/no-exclusive-tests": "error",
    "mocha/no-mocha-arrows": "error",
    "mocha/no-sibling-hooks": "error",
    "mocha/no-return-and-callback": "error",
    "mocha/no-identical-title": "error"
  },
  "settings": {
    "mocha/additionalTestFunctions": [
      // not working yet: https://github.com/lo1tuma/eslint-plugin-mocha/issues/102
      "test.describe",
      "test.it"
    ]
  }
}
