/*
Color scheme: http://paletton.com/#uid=32P0u0kw0w0jyC+oRxVy4oIDfjr
*/

* {
    box-sizing: border-box;
}

body {
    margin: 35px 5px 5px 5px;
    font-family: Verdana, sans-serif;
}

.top-panel {
    position: fixed;
    height: 30px;
    padding: 5px;
    background-color: #009E00;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px lightgray;
    color: white;
    z-index: 10;
}

#btn-settings {
    margin-left: 7px;
}

.clickable:hover {
    color: #FF7400;
}

#no-quit-label {
    margin-left: 10px;
}

#mocha-stats {
    top: 55px;
}

#mocha {
    margin: 0;
    padding-top: 5px;
}

#infoblock {
    padding: 5px;
    border: solid 1px black;
    color: black;
    font-size: 1.3em;
    display: none;
    white-space: pre-wrap;
}

#infoblock.success {
    border-color: green;
    color: green;
}

#infoblock.error {
    border-color: red;
    color: red;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.report {
    font-size: 13px;
}

.console {
    overflow: auto;
    border: solid 1px #e1e1e8;
    padding: 9px 14px;
    background-color: #f7f7f9;
    border-radius: 4px;
    font-size: 13px;
    color: #333;
    max-height: 200px;
}

.console p, .console ul {
    margin: 0 0 7px 0;
    padding: 0;
}

.console .log {
    color: #333;
}

.console .info {
    color: #0066ff;
}

.console .warn {
    color: #E67E22;
}

.console .error {
    color: #cc0000;
}
