* {
    box-sizing: border-box;
}

body {
    margin: 35px 5px 5px 5px;
    font-family: Verdana, sans-serif;
}

.top-panel {
    position: fixed;
    height: 30px;
    padding: 5px;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px lightgray;
    color: white;
    z-index: 10;
}

.top-panel a, .top-panel a:visited {
    color: white;
}

#mocha-stats {
    top: 55px;
}

#mocha {
    margin: 0;
    padding-top: 5px;
}

#infoblock {
    padding: 5px;
    border: solid 1px black;
    color: black;
    font-size: 1.3em;
    display: none;
    white-space: pre-wrap;
}

#infoblock.success {
    border-color: green;
    color: green;
}

#infoblock.error {
    border-color: red;
    color: red;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

#console {
    overflow: auto;
    border: solid 1px #e1e1e8;
    padding: 9px 14px;
    background-color: #f7f7f9;
    border-radius: 4px;
    font-size: 13px;
    color: #333;
    max-height: 200px;
}

#console p, #console ul {
    margin: 0 0 7px 0;
    padding: 0;
}

#console .log {
    color: #333;
}

#console .info {
    color: #0066ff;
}

#console .warn {
    color: #eea236;
}

#console .error {
    color: red;
}
