* {
    box-sizing: border-box;
}

body {
    margin: 35px 5px 5px 5px;
}

.top-panel {
    position: fixed;
    height: 30px;
    padding: 5px;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px lightgray;
    color: white;
}

#mocha-stats {
    top: 55px;
}

#mocha {
    margin: 0;
    padding-top: 5px;
}

#infoblock {
    padding: 5px;
    border: solid 1px black;
    color: black;
    font-size: 1.3em;
    display: none;
}

#infoblock.success {
    border-color: green;
    color: green;
}

#infoblock.error {
    border-color: red;
    color: red;
}

#reload {
    position: absolute;
    right: 5px;
}
